.box {
  padding: 24px;
  border: 1px solid sandybrown;
  border-radius: 16px;
}

h4, p {
  margin: 0;
}

.App {
  max-width: 1024px;
  margin: 24px auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

button {
  font-size: 16px;
  padding: 4px 8px;
  border: 1px solid sandybrown;
  outline: none;
  background-color: sandybrown;
  border-radius: 4px;
  min-width: 36px;
  cursor: pointer;
}

button:disabled {
  background-color: grey;
  color: white;
  border-color: transparent;
}

select {
  font-weight: bold;
  color: blueviolet;
  padding: 4px 8px;
  border: 1px solid;
  border-radius: 4px;
}

.user h4 {
  display: inline-block;
  margin-right: 8px;
}

.checkout-container div[class^="item-"] {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid sandybrown;
}

.checkout-container h4 {
  margin: 0;
  margin-bottom: 8px;
}

.checkout-container .price {
  display: flex;
  align-items: center;
  gap: 16px;
}

.checkout-container .price span {
  display: inline-block;
  text-align: center;
  padding: 4px 8px;
  margin: 0 8px;
  min-width: 30px;
  border: 1px solid sandybrown;
  border-radius: 4px;
}

.checkout ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 16px;
}

.checkout ul li {
  padding: 4px 8px;
  border-radius: 4px;
  background: gainsboro;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total {
  font-size: 24px;
  font-weight: bold;
}

.order {
  background: gainsboro;
  padding: 8px;
  border-radius: 4px;
  margin-top: 24px;
}

.order ol {
  padding-left: 16px;
  margin: 0;
}

.order ol li {
  margin-bottom: 8px;
}